.contact {
  position: relative;
  background-image: url("https://cdn.shopify.com/s/files/1/0649/1399/8024/files/Contact_us.webp?v=1718303124");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
}
