.cta_bg {
  background-image: url("https://cdn.shopify.com/s/files/1/0649/1399/8024/files/Banner_2.webp?v=1718298005");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.second_cta_bg {
  background-image: url("https://cdn.shopify.com/s/files/1/0649/1399/8024/files/Banner_3.webp?v=1718298006");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
