.about {
  position: relative;
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/Rectangle_3944.jpg?v=1714583594");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
}
