.product_banner {
  position: relative;
  background-image: url("https://cdn.shopify.com/s/files/1/0649/1399/8024/files/Shop_Banner.webp?v=1718298006");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
}
